@page "/BuildingProperty"

<SectionContent SectionName="page-title">ساختمان یک</SectionContent>

<h1>Building Property</h1>

<div>
    واحدهای بدهکار
</div>
<div>
    آخرین شارژ
</div>
<div>
    بدهکاری اول دوره
</div>
<div>
    مانده صندوق
</div>
<div>
    هزینه ها 
</div>
<div>
    صورتحساب
</div>
<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
