@page "/"

@{
    if (firstPage)
    {
        <SectionContent SectionName="page-title">انتخاب کاربر</SectionContent>
        <article id="first-page" class="first-page">
            <div class="px-4 inner-first-page">
                <div class="row">
                    <NavLink href="Building" class="col-6 bg-info text-center border border-info rounded-2 text-decoration-none" style="height: 175px">
                        <div class="mt-4 mb-2">
                            <img src="images/Manager.svg" width="100" />
                        </div>
                        <div class="text-black">مدیر ساختمان</div>
                    </NavLink>

                    <NavLink href="weather" class="col-6 bg-warning text-center border border-warning rounded-2 text-decoration-none" style="height: 175px">
                        <div class="mt-4 mb-2">
                            <img src="images/Customer.svg" width="100" />
                        </div>
                        <div class="text-black">ساکنین واحدها</div>
                    </NavLink>
                </div>
            </div>
        </article>
    }
    else
    {
        <SectionContent SectionName="page-title">My Page Title</SectionContent>
        <article id="content" class="content">
            <div class="px-4" style="overflow-y:scroll; height: 100%">
                <div>
                    <h1>سلام, دنیا!</h1>

                    @* <div>
            Welcome to your new app.
            </div>

            <h1>1</h1>

            <div>
            Welcome to your new app.
            </div>

            @{
            if (Products == null)
            {
            <h1>loading ...</h1>
            }
            else
            {
            foreach (var product in Products)
            {
            <h1>@product.Name - @product.Id</h1>

            <div>
            @product.Price
            </div>
            }
            }
            }

            <h1>3</h1>

            <div>
            Welcome to your new app.
            </div>*@
                </div>
            </div>
        </article>

        <div class="add mx-4">
            <img src="images/plus.svg" />
        </div>

        <div id="footer" class="footer">
            <div class="row">
                <div class="col-3">1</div>
                <div class="col-3">2</div>
                <div class="col-3">3</div>
                <div class="col-3">4</div>
            </div>
        </div>
    }
}
